# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
.venv/
venv/
env/

# IDE/editor
.vscode/
.idea/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# Env files
.env

# Redis dumps / logs / misc
*.log
*.pid
*.db
*.rdb
